<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <form action="/buscar_estudiante">
        <h2>Buscar un Estudiante</h2>
        Escriba el ID del estudiante:
        <input type="number" name="id_buscado" />
        <button>Buscar</button>
    </form>

    <form action="/guardar_estudiante">
        <h2>Insertar un Estudiante</h2>
        <table>
            <tr>
                <td>Nombre</td>
                <td>
                    <input type="text" name="nombre" />
                </td>
            </tr>
            <tr>
                <td>Correo</td>
                <td>
                    <input type="text" name="correo" />
                </td>
            </tr>
            <tr>
                <td>Carrera</td>
                <td>
                    <input type="text" name="carrera" />
                </td>
            </tr>
        </table>

        <input type="submit" />
    </form>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 <br>
 
    <p>
        Si es la primera vez que ejecuta esta aplicación, necesitará crear las tablas en la base de datos
        haciendo <a href="/crear_tablas">click aqui</a>
    </p>

</body>

</html>
