<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crédito Educativo</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>

    <div class="container">

        <h1>Crédito Educativo</h1>

        <p>
            <a href="/calcular_credito">Ir a calcular crédito</a>
        </p>

        {% if mensaje %}
        <p>{{ mensaje }}</p>
        {% endif %}

        <form action="/buscar_estudiante">

            <h2>Buscar un Estudiante</h2>

            <label>ID del estudiante</label>
            <input type="number" name="id_buscado" />

            <input type="submit" value="Buscar">

        </form>

        <form action="/guardar_estudiante">

            <h2>Insertar un Estudiante</h2>

            <label>Nombre</label>
            <input type="text" name="nombre" />

            <label>Correo</label>
            <input type="text" name="correo" />

            <label>Carrera</label>
            <input type="text" name="carrera" />

            <input type="submit" value="Guardar">

        </form>

        <p class="tablas">
            Si es la primera vez que ejecuta esta aplicación,
            necesitará crear las tablas en la base de datos haciendo
            <a href="/crear_tablas">click aquí</a>
        </p>

    </div>

</body>

</html>