<!DOCTYPE html>
<html>

<head>

</head>

<body>

    <table>
        <tr>
            <td>ID</td>
            <td>
{{ estudiante.id }}
            </td>
        </tr>
        <tr>
            <td>Nombre</td>
            <td>
{{ estudiante.nombre }}
            </td>
        </tr>
        <tr>
            <td>Correo</td>
            <td>
{{ estudiante.correo }}
            </td>
        </tr>
        <tr>
            <td>Carrera</td>
            <td>
{{ estudiante.carrera }}
            </td>
        </tr>
    </table>

    <a href="/">Volver al inicio</a>

</body>

</html>
